
#container {
	margin: 0 auto;
	width: 960px
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}


/*
 * DataTables framework
 */
div.dataTables_wrapper {
	/* margin: 1% 10%; */
	font-family: arial;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px; 
	
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
#main-table {
	margin: 0 auto;
	clear: both;
	font-size: 12px;
	border: 1px solid;
	width: 100%;
}

#main-table td,
#main-table th {
/* 	padding: 5px; */
}

/* Header cells */
#main-table thead th {
	text-align: center;
	background: #66a9bd;
	line-height: 1.6em;
}

/* Body cells */
#main-table tbody th {
	text-align: left;
	background: #91c5d4;
}
	
#main-table tbody td {
	text-align: center;
	background: #d5eaf0;
	line-height: 2em;
	cursor:pointer;
}
		
#main-table tbody tr.odd td { 
	background: #bcd9e1;
	cursor:pointer;
}

/* Footer cells */	
#main-table tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
#main-table tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
#main-table thead th.sorting_asc {
	background: #66A9BD url('../images/keytable/sort_asc.jpg') no-repeat right center;
	padding: 5px 50px;
	cursor:pointer;
}

#main-table thead th.sorting_desc {
	background: #66A9BD url('../images/keytable/sort_desc.jpg') no-repeat right center;
	padding: 5px 50px;
	cursor:pointer;
}

#main-table thead th.sorting {
	background: #66A9BD url('../images/keytable/sort_both.jpg') no-repeat right center;
	padding: 5px;
	cursor:pointer;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
	cursor:pointer;
}

.paginate_disabled_previous {
	background-image: url('../images/keytable/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/keytable/back_enabled.jpg');
	cursor:pointer;
}

.paginate_disabled_next {
	background-image: url('../images/keytable/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/keytable/forward_enabled.jpg');
	cursor:pointer;
}
